<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.software.server.dao.mapper.RoleResMapper">

    <resultMap id="RoleResResultMap" type="com.software.server.dao.model.RoleResModel">
        <id column="T_ID" property="id" jdbcType="INTEGER" />
        <result column="T_ROLE_ID" property="roleId" />
        <result column="T_RES_ID" property="resId"/>
    </resultMap>

    <!--查询的字段-->
    <sql id="BASE_QUERY_FIELDS">
         T_ID,T_ROLE_ID,T_RES_ID
    </sql>

    <!--保存的字段-->
    <sql id="BASE_INSERT_FIELDS">
         T_ROLE_ID,T_RES_ID
    </sql>

    <!--表名-->
    <sql id="tableN">T_ROLE_RESOURCE</sql>

    <!--查询所有-->
    <select id="listAll" resultMap="RoleResResultMap">
         SELECT <include refid="BASE_QUERY_FIELDS"/>
         FROM <include refid="tableN"/>
    </select>

    <!--根据用户ID查询-->
    <select id="listByRoleId" resultMap="RoleResResultMap" parameterType="int">
        SELECT <include refid="BASE_QUERY_FIELDS"/>
        FROM <include refid="tableN"/>
        WHERE T_ROLE_ID = #{roleId,jdbcType=BIGINT}
    </select>

    <!--根据ID查询-->
    <select id="listById" resultMap="RoleResResultMap" parameterType="int">
        SELECT <include refid="BASE_QUERY_FIELDS"/>
        FROM <include refid="tableN"/>
        WHERE T_ID = #{id,jdbcType=BIGINT}
    </select>

    <!--新增用户角色-->
    <insert id="insert" parameterType="RoleResModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO<include refid="tableN"/>
        (
        <include refid="BASE_INSERT_FIELDS"/>
        )
        VALUES
        (
        #{roleId,jdbcType=BIGINT},
        #{resId,jdbcType=BIGINT}
        )
    </insert>

    <!--删除-->
    <delete id="deleteById" parameterType="int">
        DELETE FROM <include refid="tableN"/> WHERE T_ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据用户ID删除-->
    <delete id="deleteByRoleId">
        DELETE FROM <include refid="tableN"/> WHERE T_ROLE_ID = #{roleId,jdbcType=BIGINT}
    </delete>
</mapper>